<ion-view view-title="Map" style="width: 100%; min-height: 100%;margin-top:100px">
  <div style="width: 100%; min-height: 100%">
    <ion-content class="padding" >

<div class="list">

  <div class="item item-divider">
    Candy Bars
  </div>

  <a class="item" href="#">
    Butterfinger
  </a>


    <a class="item" href="#">
      Butterfinger
    </a>

      <a class="item" href="#">
        Butterfinger
      </a>
        <a class="item" href="#">
          Butterfinger
        </a>



</div>



</ion-content>
</div>
</ion-view>
