
<ion-header-bar align-title="left" class="bar-balanced">
<h1 class="title">{{title}}</h1>
<div class="buttons">
<button class="button icon ion-ios-close-empty button-clear" menu-toggle="right" ></button>
</div>
</ion-header-bar>

<ion-content class="has-header" >

<ion-list>
  <ion-item>Basic Details </ion-item>
  <ion-item>Education Details  </ion-item>
  <ion-item>Work Experience</ion-item>
  <ion-item>My Skills</ion-item>
  <ion-item>Profile In Short</ion-item>
  <ion-item>Family</ion-item>
  <ion-item>Lifestyle</ion-item>
  <ion-item>My Hobby</ion-item>
  <ion-item>Future Life</ion-item>
  <ion-item>Contact / Address</ion-item>
  <ion-item>Search Keywords</ion-item>

</ion-list>

</ion-content>
